/* Vivaldi CSS Tweaks */

/* Main */
#main > .inner, .toolbar-mainbar, .footer { 
    background-color: #00000000 !important; 
	outline: none !important; 
	box-shadow: none !important;
} 
#browser, #webview-container, #webpage-stack { 
	border-radius: 14px; 
} 
html, body, #browser, #main { 
    -webkit-font-smoothing: subpixel-antialiased !important; 
} 
.tab, #tabs-container, #panels-container, #tabs-tabbar-container, .SiteInfoButton, .UrlBar-UrlField, .UrlFragment-Wrapper { 
    color: #eeeeee; 
    background-color: transparent !important; 
	box-shadow: none !important; 
} 
#header, .button-toolbar-menu-indicator, .mosaic-split-line, .SpeedDialView-Settings-Button, .BookmarkButton, .stack-counter, .svg-tab-stack { 
    display: none !important; 
} 

/* Icons */
button {
	color: #eeeeee;
	box-shadow: none;
}
.favicon { 
    border-radius: 0; 
    background-color: black; 
    filter: 
		brightness(.7) 
		drop-shadow(-1px -1px 1px #aa10ff90) 
		drop-shadow(1px 1px 1px #10ffaa90)
		!important; 
} 

/* Tiling */
#webview-container { 
	margin: 8px 8px 8px 8px; 
} 
#webview-container:has(#webpage-stack .mosaic.visible) { 
    padding: 0; 
	/* margin: 0; */
    /* margin: 8px 0 8px 0; */
    box-shadow: none; 
} 
.hasfocus .tiled.webpageview.active { 
    box-shadow: 0 0 0 1px #aa10ff50; 
} 

/* Toolbar */
button.ToolbarButton-Button.button-textonly[name="Clock"] {
    width: 100px;
    padding-left: 8px;
    font-size: 1.15em;
}
.toolbar-insideinput { 
    display: none; 
} 
.UrlField { 
	/* padding: 0px 8px 0px 8px; */
	padding: 0px 8px 0px 4px;
} 
.UrlField--IsEmpty .UrlBar-UrlField, .UrlField--HasEditText .UrlBar-UrlField, .UrlField:focus .UrlBar-UrlField, .UrlField:focus-within .UrlBar-UrlField {
    padding: 5px 0px;
}
.UrlFragment-Wrapper { 
    padding: 6px 6px 6px 6px; 
} 
.Button-Area-Large .button-icon:not(.favicon), .Button-Area-Large .button-icon svg, .toolbar-large .button-icon:not(.favicon), .toolbar-large .button-icon svg { 
    opacity: 0.8; 
} 
.toolbar-tabbar > .button-toolbar.toggle-trash, .toolbar-tabbar > .toolbar-group > .button-toolbar.toggle-trash, .toolbar-tabbar > .button-toolbar.synced-tabs-button, .toolbar-tabbar > .toolbar-group > .button-toolbar.synced-tabs-button { 
    opacity: 0.8; 
} 
.SiteInfoButton-Favicon, .SiteInfoButton-SearchEngineFavicon, .SiteInfoButton-SecurityBadge {
	opacity: 0.8;
}
.SiteInfoButton {
	margin-left: 6px !important;
}
.UrlBar-AddressField { 
	/* background-color: transparent; */
	/* outline: none !important; */
	/* box-shadow: none !important; */
    border: none !important;
} 
input::placeholder {
	color: transparent;
}
.UrlField--HasEditText .UrlBar-UrlField, .UrlField:focus .UrlBar-UrlField, .UrlField:focus-within .UrlBar-UrlField { 
    color: #10ffaa !important; 
   	/* background-color: #00000088 !important; */
} 
.accordion-toggle-arrow.closed.active, .accordion-toggle-arrow {
    background-color: transparent !important;
}
.address-bottom .mainbar > .toolbar-mainbar{
    border: none;
}

/* Tabs */
.button-title {
    text-overflow: clip !important;
}
span.title { 
    padding-left: 4px !important; 
} 
.tab-position .tab.unread { 
    background-image: none; 
} 
.accordion-toggle-arrow { 
    background-color: transparent; 
} 
.tab.active { 
    background-color: #aa10ff50 !important; 
} 
.tab:hover, .button-toolbar.tabbar-workspace-button.workspace-popup:hover { 
	background-color: #10ffaa50 !important; 
} 
.button-toolbar.tabbar-workspace-button.workspace-popup:hover { 
    background-color: #00000000 !important; 
} 
.color-behind-tabs-off .button-toolbar.workspace-popup.tabbar-workspace-button button:hover, .transparent-tabbar:not(.acc-dark.bg-dark.color-accent-from-page.color-behind-tabs-on) .button-toolbar.workspace-popup.tabbar-workspace-button button:hover {
    background-color: #10ffaa50;
}
.stack-frame {
	stroke: none;
}
.svg-tab-selection .outer { 
    display: none; 
} 
.tab.marked, .tab-in-accordion .tab.marked {
    background-color: #1090ff50 !important;
}
.svg-tab-selection .stack-frame, .svg-tab-selection .inner, .tab-in-accordion.tab-first-in-group { 
    /* stroke: #252529 !important; */
    stroke: transparent !important; 
} 
.tab-position {
  border-radius: var(--radiusHalf);
}
.svg-tab-selection .inner {
  fill: none !important;
}
.tab-indicator {
    background-color: #1050ff90 !important;
}
.tab-accordion.active, .tab-in-accordion.tab-first-in-group, .tab-accordion {
    color: #00eeff !important;
}
.transparent-tabbar.tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button {
    background-color: transparent;
}
#browser.transparent-tabbar.tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button {
    box-shadow: none;
}

/* Panels */
/* .left .panel-group .panel-collapse-guard { */
/* .panel-group .panel-collapse-guard { */
    /* min-width: 100% !important; */
/* } */
/* #panels-container.left:not(.icons) .panel-group, #panels-container.left.icons:not(:has(.SlideBar)) { */
    /* left: 0 !important; */
/* } */
/* #panels .webpanel-stack .webpanel .webpanel-header, #switch { */
    /* display: none; */
/* } */
#panels .webpanel-stack .webpanel .webpanel-header { 
    display: none; 
} 
/* .left .panel-group .panel-collapse-guard { */
    /* align-self: flex-start; */
/* } */
/* #panels-container.left.icons { */
    /* width: 0 !important; */
/* } */
/* #switch { */
	/* /* display: none !important; */ */
	/* width: 0 !important; */
/* } */
.panel-group, #panels-container.left.icons, #panels-container.right.icons, .panel .SlideBar--FullWidth.alternate, #panels-container.right {
    border: none !important;
}
#panels-container.right:not(.icons) .panel-group, #panels-container.right.icons:not(:has(.SlideBar)) {
	border: none !important;
}
