

/* Main */ 
#header { 
    display: none !important; 
} 
#main > .inner { 
    background-color: #000000AA; 
} 
.toolbar-mainbar .toolbar-extensions, .toolbar-mainbar .page-zoom-controls, .toolbar-mainbar { 
    background-color: #000000AA; 
} 
#tabs-container, #panels-container, #browser.transparent-tabbar #tabs-tabbar-container.left { 
    background-color: transparent; 
} 
html, body, #browser, #main { 
    -webkit-font-smoothing: subpixel-antialiased !important; 
} 


/* Gaps */ 
#browser, #webview-container, #webpage-stack { 
	border-radius: 14px; 
} 
#webview-container { 
	/* margin: 8px; */
    /* margin: 8px 0 8px 0; */ 
    /* margin: 8px 8px 8px 0; */
} 

#panels-container { 
    width: 0; 
} 
#switch { 
	display: none; 
} 


/* Tiling */ 
#webview-container:has(#webpage-stack .mosaic.visible) { 
    padding: 0; 
    margin: 8px 0 8px 0; 
    box-shadow: none; 
} 
.mosaic-split.-column .mosaic-split-line { 
    display: none; 
} 
.mosaic-split.-row .mosaic-split-line { 
    display: none; 
} 
.hasfocus .tiled.webpageview.active { 
    box-shadow: 0 0 0 1px #aa10ff56; 
} 


/* Tabs */ 
#browser.color-behind-tabs-on .tab-position .tab.active.active { 
    background-color: #aa10ff56; 
} 
#browser:not(.alt-tabs) #tabs-container .favicon, #browser:not(.alt-tabs) #tabs-container .tab.pinned:not(.active) .favicon {
    /* border-radius: 30%; */
    border-radius: 0;
    background-color: black;
    filter: brightness(.6) grayscale(.6)
      drop-shadow(0px -1px 1px #FF7F00) 
      drop-shadow(1px -1px 1px #00AAEE) 
      drop-shadow(-1px 1px 1px #00FF00) 
      drop-shadow(0px 0px 1px #0000FF) 
      drop-shadow(0px 0px 3px #2E2B5F) 
      drop-shadow(-1px 3px 1px #8B00FF) 
      brightness(0.85);
} 
.color-behind-tabs-on .SearchField:focus-within, .color-behind-tabs-on .UrlBar-AddressField:focus-within { 
	outline: none; 
} 
#browser.transparent-tabbar #tabs-tabbar-container.left { 
    margin-top: 8px; 
    height: calc(100% - 16px) !important; 
} 
span.title {
    padding-left: 3px !important;
}
.transparent-tabbar:not(.acc-dark.bg-dark.color-accent-from-page.color-behind-tabs-on) .tab-position .tab {
    color: #eeeeee;
}
.color-behind-tabs-on .toolbar-tabbar > .button-toolbar > button, .color-behind-tabs-on .toolbar-tabbar > .toolbar-group > .button-toolbar > button {
    color: #eeeeee;
}


/* Hiding */ 
.SpeedDialView-Settings-Button { 
	display: none; 
} 
.BookmarkButton { 
    display: none; 
} 
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar > button:not(:hover):not(:active):not(:focus):not(.button-pressed), .toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .toolbar-group > .button-toolbar > button:not(:hover):not(:active):not(:focus):not(.button-pressed) { 
    display: none; 
} 
.SiteInfoButton { 
    display: none; 
} 
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput { 
    display: none; 
} 
.address-bottom .mainbar > .toolbar-mainbar .toolbar-extensions, .address-bottom .mainbar > .toolbar-mainbar .page-zoom-controls, .address-bottom .mainbar > .toolbar-mainbar { 
    box-shadow: none; 
} 
#browser.transparent-tabbar #tabs-tabbar-container.left { 
    box-shadow: none; 
} 


/* Address Bar */ 
button.ToolbarButton-Button.button-textonly[name="Clock"] { 
    width: 100px; 
    padding-left: 8px; 
    font-size:1.15em; 
} 
.SearchField, .UrlBar-AddressField { 
    background-color: transparent; 
} 
.UrlField { 
    padding-left: 8px; 
    padding-right: 8px; 
} 
#app .UrlBar-UrlField {
    color: #33ffdd;
    /* color: #aa10ff; */
    font-family: Quicksand !important;
    /* display: none; */
} 
.UrlFragment-Wrapper { 
    padding: 6px 6px 6px 6px; 
} 
.UrlFragment-Wrapper--ShouldHighlight { 
    --HighlightColor: none; 
} 
.UrlFragment-Wrapper {
    /* color: rgb(201, 212, 229); */
} 
.SearchField, .UrlBar-AddressField {
	border: 1px #aa10ff56 !important;
	border: none !important;
} 
.UrlField { 
    font-size: 1.15em !important; 
} 


/* Panels */ 
#panels-container.left:not(.icons) .panel-group, #panels-container.left.icons:not(:has(.SlideBar)) { 
    left: 0 !important; 
} 
#panels .webpanel-stack .webpanel .webpanel-header { 
    display: none; 
} 
.left .panel-group .panel-collapse-guard { 
    align-self: flex-start; 
} 
#panels-container.left.icons:not(:has(.SlideBar)) { 
    width: 0 !important; 
} 
.Button-Area-Large .button-icon:not(.favicon), .Button-Area-Large .button-icon svg, .toolbar-large .button-icon:not(.favicon), .toolbar-large .button-icon svg { 
    opacity: 0.75; 
} 
.toolbar-tabbar > .button-toolbar.toggle-trash, .toolbar-tabbar > .toolbar-group > .button-toolbar.toggle-trash, .toolbar-tabbar > .button-toolbar.synced-tabs-button, .toolbar-tabbar > .toolbar-group > .button-toolbar.synced-tabs-button { 
    opacity: 0.8; 
} 
.left .panel-group .panel-collapse-guard { 
    min-width: 100% !important 
} 

.transparent-tabbar:not(.acc-dark.bg-dark.color-accent-from-page.color-behind-tabs-on) .button-toolbar.workspace-popup.tabbar-workspace-button button {
	color: #eeeeee;
    background-color: transparent;
}

/* div#mail_panel { */
    /* background: linear-gradient( #000000bb, #000000bb ), url("chrome://vivaldi-data/local-image/XSYTIFQIJSUUJ25H5IPBTFCAXJ6IMRPY.png"); */
/* } */

.svg-tab-selection .stack-frame, .svg-tab-selection .inner {
    stroke: #252529;
}

.svg-tab-selection .outer {
    display: none;
}
